* {
  box-sizing: border-box;
}

.mainInfo__smallContentList {
  background-color: rgb(240, 240, 240);
  padding: 2rem 0;
}
.app {
  background-color: white;
}
@media (min-width: 1280px) {
  .contentWrapper {
    margin: 0 auto;
    max-width: 69.375rem;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 1279px) {
  .contentWrapper {
    margin: 0 auto;
    max-width: 69.375rem;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 1169px) {
  .contentWrapper {
    margin: 0 auto;
    max-width: 60rem;
  }
}
@media (max-width: 1023px) {
  .contentWrapper {
    margin: 0 auto;
    max-width: 44rem;
  }
}
@media (max-width: 767px) {
  .contentWrapper {
    max-width: none;
    margin-left: 2rem;
    margin-right: 2rem;
    display: block;
  }
}
@media (max-width: 359px) {
  .contentWrapper {
    max-width: none;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (max-width: 359px) {
  .contentWrapper {
    margin-right: 16px;
    margin-left: 16px;
  }
}
